body { /* 페이지 전체 여백*/
    padding: 20px;
}

/* 앱 전체 컨테이너: 가로 400px로 고정하고 화면 가운데 정렬 */
.App {
    margin: 0 auto;  /* 위아래 0, 좌우 auto → 가로 중앙 정렬 */
    width: 400px;
}

/* .App 바로 아래의 section들(자식 선택자 >)을 카드 형태로 꾸밈 */
.App > section{
    background-color: rgb(245, 245, 245); /* 연한 회색 배경 */
    border: 1px solid rgb(240, 240, 240); /* 배경보다 살짝 밝은 테두리 */
    border-radius: 5px;  /* 모서리 둥글게 */
    padding: 20px;/* 박스 안쪽 여백 */
    margin-bottom: 10px;   /* section끼리 아래쪽 간격 */
}